html,body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #285473 !important;
    width: 1280px;
    margin: auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
a {
    color: #285473;
    text-decoration: none;
}
header{
    padding: 22px 10px 0px 10px;
    height: 120px;
}
header > h1{
    font-size: 40px;
    margin-left: 20px;
}
.content{
    position: relative;
    width: 100%;
    float: left;
    border-left: 1px solid gainsboro;
}
.left_site_bar{
    float: left;
    width: 35%;
}
.main{
    float: left;
    width: 65%;
}
footer {
    text-align: center;
    line-height: 80px;
    height: 80px;
    clear: left;
    border-top: 1px solid gainsboro;
}
.navigation {
    width: 100%;
    height: 55px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.navigation > a {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 10px;
}

.publish_ads {
    float: right;
    margin: 5px 5px 0px 0px;
}
.breadcrumps {
    padding-left: 10px;
    position: absolute;
}
.breadcrumps > li {
    display: block;
    margin-right: 4px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    float: left;
    font-size: 22px;
}
.breadcrumps > li > a:hover {
    color: black;
}
.breadcrumps > li:after {
    content: '/';
}
.pagination > li {
    width: 10px;
    display: block;
    background: red;
    margin: 5px;
    float: left;
}

.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    background:#285473;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    border: 0px;
    height:50px;
    background-image: url("../images/211614-32.png");
    background-repeat: no-repeat;
    background-position-x: 127px;
    background-position-y: center;
    background-size: 18px;
}

.location{
    padding: 10px;
}
.location p {
    font-size: 20px;
}
.categories {
    padding: 10px;
}
.categories ul {
    margin: 0px;
    padding: 0px;
    display: block;
}
.categories ul > li {
    display: block;
    font-size: 18px;
    margin-top: 5px;
}
.categories ul > li > a:hover {
    color: black;
}

.advertisements_container {
    border-left: 1px solid gainsboro;
}

.advertisement_prev {
    padding: 10px;
    height: 150px;
    border-top: 1px solid gainsboro;
}
.advertisement_prev:first-child {
    border-top: 0px solid gainsboro;
}
.advertisement_prev img{
    width: 150px;
    background: black;
    float:left;
    margin-right: 10px;
}
.advertisement_prev .title{
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
.advertisement_prev .description {
    overflow: hidden;
    position: relative;
    height: 98px;
}
.advertisement_prev .description:after {
    bottom:0px;
    background: red;
    position: absolute;
    content: '...';
}
.advertisement_prev .price {
    float: right;
}
.advertisement_prev .date {
    float: right;
}
.advertisement_prev .views_container {
    float: right;
}
.advertisement_prev .views_container span{
    margin-left: 10px;
}


/*advertisement view*/
.advertisement_view .title{
    width: 600px;
    float: left;
    text-align: center;

}
.advertisement_view .description {
    overflow: hidden;
    position: relative;
    height: 98px;
}

.advertisement_view .price {
    float: right;
    margin-top: 20px;
}
.advertisement_view .date {
    float: left;
    margin-top: 20px;
}
.advertisement_view .description {
    padding: 10px;
    width: 65%;
    float: left;
    box-sizing: border-box;
}
.advertisement_view .contacts {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 35%;
}
.advertisement_view .views_container {
    float: right;
}
.advertisement_view .views_container span{
    margin-left: 10px;
}


    /* styles for '...' */
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 4.8em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}
.pagination {
    text-align: center;
    padding: 10px;
    border-top: 1px solid gainsboro;
}
.pagination {
    text-align: center;
    padding: 10px;
    border-top: 1px solid gainsboro;
}
.pagination a, span{
    margin-left: 5px;
    margin-right: 5px;
}
.pagination .current{
    color: red;
}
.pagination .disabled{
    color: white;
}


.parent li{
    display:none;
}
.parent:hover > ul > li{
    display:block;
}
.parent:hover > ul{
    display:block;
}
.parent > ul{
    margin-left:187px;
    margin-top:-29px;
    position:absolute;
    width: 200px;
    background: #ff9971;;
    display: none;
}