html,body{
    /*font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;*/
    color: #285473 !important;
    width: 1280px;
    margin: auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}