$(document).ready(function() {

    $("#country_select").change(function () {
        $.post(this.getAttribute('data-link'),
            {
                countryId: this.value,
            },
            function(data, status) {
                $('#cities_select').html('<option selected value="0">all cities</option>');
                $('#advertisements').html('');
                $('#pagination').html('');

                data = JSON.parse(data);
                console.log(data);
                $('#pagination').html(data.paginationHtml.content);


                for (i = 0; i < data.cities.length; i++) {
                    var option = $('<option value = "' + data.cities[i].id + '">'+ data.cities[i].locName +'</option>');
                    $('#cities_select').append(option);
                }

                $('#advertisements').html(data.htmlAds.content);

            });
        }
    );

    $("#cities_select").change(function () {
            $.post(this.getAttribute('data-link'),
                {
                    city_id: this.value,
                },
                function(data, status) {
                    $('#advertisements').html('');
                    $('#pagination').html('');
                    data = JSON.parse(data);
                    $('#pagination').html(data.paginationHtml.content);

                    $('#advertisements').html(data.htmlAds.content);
                });
        }
    );
});

