{% for item in pagerfanta %}
<div class = "advertisement_prev">
    <span class = "date">{{ item.getAdsDate|date("m/d/Y") }}</span>
    <a href = "{{ path('showads', {'id': item.getId}) }}"><img class = "img" src = "{% if item.getPictures is not empty %}{{ asset('pictures/'~ item.getPictures[0].getPicOriginName ) }}{% else %}{{ asset('images/noimage.jpeg') }}{% endif %}"></a>
    <a href = "{{ path('showads', {'id': item.getId}) }}"><h2 class = "title">{{ item.getAdsTitle }}</h2></a>
    <p class = "block-with-text">{{ item.getAdsDescription }}</p>
    <span class = price>{{ item.getAdsPrice }} {{ item.getAdsCurrencyId.getCurName }}</span>
    <br>
    <div class="views_container">
        <span class = "fa fa-eye"></span><span class = "views">{{ item.getAdsViews }}</span>
    </div>
</div>
{% endfor %}



{#
<div class = "ads_prev">
    <img class = "img" src = "{{ asset('images/123') }}">
    <p class = "title">{{ item.getAdsTitle }}</p>
    <p class = "description">{{ item.getAdsDescription }}</p>
</div>
#}
