{% extends 'base.html.twig' %}

{% block nav %}
    <ul class = "breadcrumps">
        {% for item in bradcrumpsData %}
            <li> <a href = "{{ path('filter', {'parentId': item['id']}) }}">{{ item['name'] }}</a></li>
        {% endfor %}
    </ul>
    {{ parent() }}
{% endblock %}

{% block main %}
    <div id = "advertisements" class="advertisements_container">
        {% include 'advertisements/ads_prev.html.twig' %}
        <div id = "pagination">
            {% include 'advertisements/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}