{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.ads_title) }}
    <br>
    {{ form_label(form.ads_category_id) }}
    {{ knp_menu_render('categories') }}
    {{ form_end(form) }}
{% endblock %}