{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block js %}
            <script type="text/javascript" src="{{ asset('js/jQuery.js.twig') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ajax_cities.js.twig') }}"></script>
            <script type="text/javascript" src="{{ asset('js/set_selects.js') }}"></script>
        {% endblock %}
        {% block bootstrap %}
            <script type="text/javascript" src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>
            <link href="{{ asset('bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('advertisements') }}">Free Advertising Board</a></h1>
        </header>
        <nav class = "navigation">{% block nav %}<a class = "publish_ads" href = "{{ path('publish') }}">publish ads</a>{% endblock %}</nav>
        {% block content %}
            <div class = "left_site_bar">
                {% block left_site_bar %}
                    <div style="clear:left"></div>
                    <div class = "location">
                        <form href = "" METHOD="POST">
                            <p>Choose location:</p>
                            <select class = "select" data-selected = "{{ countryId }}" data-link = "{{ path('ajax_get_countries') }}" id = "country_select" >
                                <option selected value="0">all countries </option>
                                {% for item in countries %}
                                    <option value="{{ item.getId }}">{{ item.getLocName }}</option>
                                {% endfor %}
                            </select>
                            <select class = "select" data-selected = "{{ cityId }}" data-link = "{{ path('ajax_get_cities') }}" id = "cities_select">
                                <option selected value="0">all cities</option>
                                {% for city in cities %}
                                    <option value="{{ city.getId }}">{{ city.getLocName }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class = "categories">
                    <ul>
                        {% for item in currentCategories %}
                            <li><a href="{{ path('filter', {'parentId': item.getId}) }}">{{ item.getCatName }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                {% endblock %}
            </div>
            <div class = "main">
                {% block main %}
                    Here is main content
                {% endblock %}
            </div>
        {% endblock %}
        <footer>© www.ads-board.com, 2018 — 2019</footer>
    </body>
    <script type="text/javascript">jssor_1_slider_init();</script>
</html>